<div class="d-flex flex-column mt-3 container justify-content-center">
  <div class="p-2 align-self-center mb-3">
    <h1 class="text-center mt-2">MUNÍCIPES</h1>
  </div>
    <div class="p-2 align-self-center">
      <a class="btn btn-home" href="cidadaos/" role="button">Munícipes</a>
    </div>
    <div class="p-2 align-self-center">
      <a class="btn btn-home" href="cidadaos/new" role="button">Novo Munícipe</a>
    </div>
</div>
